<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <title>La tienda virtual</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">La tienda virtual</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="./categorias.html">Categorías</a>
                <a class="nav-link" href="./productos.html">Productos</a>
                <a class="nav-link" href="./entradas.html">Entradas</a>
                <a class="nav-link" href="#">Salidas</a>
                <a class="nav-link" href="./movimientos.html">Movimientos</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="mt-5">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Listado de productos</h2>
                </div>
                <div class="col-lg-6">
                    <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#crearModal">Nuevo Producto</button>
                </div>
            </div>

            <hr style="border: 1px #000 solid;" />

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Chocolatina</td>
                            <td class="text-success"><strong>Activo</strong></td>
                            <td>Dulces</td>
                            <td>0</td>
                            <td>
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editarModal">Editar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal Editar -->
        <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarModal">Editar Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">
                                    Nombre Producto:
                                </label>
                                <input type="text" name="producto" value="Chocolatina" class="form-control">

                                <label for="message-text" class="col-form-label">
                                    Categoría:
                                </label>
                                <select name="categoria" id="categoria" class="form-control">
                                    <option value="seleccionar">Seleccionar...</option>
                                    <option value="dulces" selected>Dulce</option>
                                </select>
                            
                                <label for="message-text" class="col-form-label">
                                    Cantidad:
                                </label>
                                <input type="text" name="cantidad" value="0" class="form-control" disabled>

                                <label for="message-text" class="col-form-label">
                                    Estado:
                                </label>
                                <select name="estado" id="estado" class="form-control">
                                    <option value="seleccionar">Seleccionar...</option>
                                    <option value="activo" selected>Activo</option>
                                    <option value="inactivo">Inactivo</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Guardar -->
        <div class="modal fade" id="crearModal" tabindex="-1" aria-labelledby="crearModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="crearModal">Crear Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">
                                    Nombre Producto:
                                </label>
                                <input type="text" name="producto" class="form-control">

                                <label for="message-text" class="col-form-label">
                                    Categoría:
                                </label>
                                <select name="categoria" id="categoria" class="form-control">
                                    <option value="seleccionar">Seleccionar...</option>
                                    <option value="dulces">Dulce</option>
                                </select>
                            
                                <label for="message-text" class="col-form-label">
                                    Cantidad:
                                </label>
                                <input type="text" name="cantidad" class="form-control">

                                <label for="message-text" class="col-form-label">
                                    Estado:
                                </label>
                                <select name="estado" id="estado" class="form-control">
                                    <option value="seleccionar">Seleccionar...</option>
                                    <option value="activo">Activo</option>
                                    <option value="inactivo">Inactivo</option>
                                </select>
                                
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>